<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ZookeeperDemo/src/seu/edu/zookeeperDemo/chapter05/Zookeeper_Constructor_Usage_Simple.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="seu.edu.zookeeperDemo.chapter05.Zookeeper_Constructor_Usage_Simple"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ZookeeperDemo"/>
</launchConfiguration>
